<!DOCTYPE html>
<html>
<head>

    <title>Cookie Dough2</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
    <!-- <script src="index.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
#bodyID {
    background-image: url('../cookieDough.jpg');
    background-size: 100vw 100vh;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
  }

/* =================SCROLL BAR BEGIN========================== */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
 box-shadow: inset 0 0 5px grey; 
 border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(199, 130, 2, 0.5); 
  box-shadow: inset 0 0 5px rgb(199, 130, 2, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 130, 2, 0.7);
  box-shadow: inset 0 0 5px rgb(199, 130, 2, 0.7);
}
/* ==================SCROLL BAR END========================= */

/* ===================NAVBAR=================================== */
#navbar{
margin: 0;
height: 8vh;
background-color: rgb(255, 255, 255, .8);
padding-top: 2vh;
}

#headerGrid{
    display: grid;
    grid-template-columns: 20vw 45vw 35vw;
    width: 100vw;
}

#buttonsGrid{
    display: grid;
    /* grid-template-columns: 25% 25% 25%; */
    grid-template-columns: 8vw 8vw 8vw;
    width: 100%;
    /* height: 100px; */
    height: 20vh;
    margin-left: 31.5%;
    margin-top: .5vh;
}

#searchLabel{
    color:rgb(0, 0, 0);
    /* font-size: 140%; */
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif; 
    /* margin-top: 10%; */
    margin-top: 1vh;
}

#searchBar{
    /* margin-left: 30%; */
    margin-left: 12vw;
    display: grid;
    /* grid-template-columns: 20% 50% 20%; */
    grid-template-columns: 7vw 12vw 6vw;
    /* width: 400px; */
    width: 30vw;
    /* height: 40px; */
    height: 6vh;
}

#searchButton{
    cursor: pointer;
}

#homeTitle{
    /* font-size: 200%; */
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
}

.homeButtons{
    /* font-size: 125%; */
    font-size: 3.5vh;
    font-family: Arial, Helvetica, sans-serif; 
    border: 4px double white;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    padding: 5%;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: -1.2vh;
}

.homeButtons:hover{
    background-color: rgb(60, 60, 60);
}

#aboutBtn{
    transform: translateX(25%);
}

.dropdown{
  display:none;
}
/*=========================CENTRAL PAGE TITLE=============================*/

#centralPageTitle{
font-size: 25vh;
color: rgb(88, 52, 23);
font-weight: bold;
font-style: italic;
margin-top: 10%;
margin-left: 15vw;
display: block;
-webkit-text-stroke: 1px rgb(255, 255, 255);
}

/*=========================PUBLIC RECIPES PROMPT BOX===============================*/
#publicRecipesModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#publicRecipesListContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#publicRecipesListSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#publicRecipesListTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

 #publicRecipesCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 84%;
    width: 15%;
  }

#numLoggedPublicRecipesMsg{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

#publicRecipesCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }

#publicRecipesInputContents{
    border-radius: 10px;
    height: fit-content;
    max-height: 135px;
    overflow-y: auto;
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(255, 255, 255, .2);
}

.recipeOpt{
  text-align: center;
  border-radius: 4px;
  cursor:pointer;
  font-family: Arial, Helvetica, sans-serif; 
  margin-left:auto;
  margin-right: auto;
  display:block;
  outline:none;
}

.recipeOpt:hover{
  background-color: rgb(255, 255, 255, .5);
  color: rgb(199, 130, 2);
}

.recipeOptBtn{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor:pointer;
  padding: 2%;
  width:100%;
  font-size: 105%;
}

.recipeOptBtn:hover{
  color: rgb(199, 130, 2);
}

.chefName{
    text-align: right;
}

/*==========================RECIPE DOC 2======================================*/

#documentModal{
  display: block;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
}

#documentGrid{
    display: grid;
    grid-template-columns: 45% 2%;
    width: 900px;
    margin-left: 33.5%;
    height: fit-content;
}  

#document{
height: 450px;
width: 350px;
background-color: rgba(255, 255, 255, .9);
border-radius: 10px;
margin-left: auto;
margin-right: auto;
display: block;
padding: 5%;
box-shadow: 1px 1px 20px 1px grey inset;
font-family: Arial, Helvetica, sans-serif;
}

#documentContents{
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: normal;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.recipeDocLabel{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  margin-bottom: 2%;
  margin-top: 2%;
  color: green;
}

.recipeDocTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 140%;
  text-align: center;
  margin-bottom: 5%;
}

#closeRead{
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 85%;
text-align: center;
  border: white 1px solid;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 1px;
  width: fit-content;
  height: fit-content;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#closeRead:hover{
  background-color: rgb(88, 52, 23);
}

.docContents{
  margin-bottom: 5%;
}

/*=========================ABOUT PROMPT BOX===============================*/
#aboutModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#aboutContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 /* width: 35vw; */
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#aboutSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#aboutTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

 #aboutCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
    /* font-size: 2.2vh; */
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 85%;
  }

#aboutCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#aboutContents{
padding-left: 5%;
padding-right: 5%;
margin-top: 5%;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

/*=========================SIGN UP PROMPT BOX===============================*/
#signupModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#signupFormContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#signupFormSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#signupFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

#signupBtnsGrid{
display: grid;
grid-template-columns: 30% 30%;
grid-gap: 0% 5%;
width: 200px;
margin-left: 66%;
}

#signupSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
   }
  
 #signupCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
  }

#signupSubmitBtn:hover, #signupCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#signupInputContents{
margin-left: 27.5%;
margin-top: 5%;
}

.userInput{
  border-radius: 10px;
  padding: 2px;
}

.inputSpace{
  margin-bottom: 2%; 
}

/*=========================MESSAGE PROMPT BOX===============================*/
#messageModal{
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  #messageContainer{
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   height: fit-content;
   background-color: rgba(0, 0, 0, .5);
   border: 5px double rgb(80, 38, 22);
   border-radius:7px;
   padding: .75%;
  }
  
  #messageSecondaryContainer{
  background-color: rgba(145, 88, 41, 0.75);
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  }
  
  #messageTitle{
  font-style: italic;
  font-weight: bold;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
  color: orange;
  }
  
   #messageCloseButton{
      background-color: rgb(0, 0, 0);
      color: white;
      font-family: Arial, Helvetica, sans-serif; 
      font-size: 85%;
      text-align: center;
      border: white 1px solid;
      border-radius: 5px;
      cursor: pointer;
      padding-top: 1px;
      margin-left: 85%;
      width: 57.5px;
    }

    #altLogInBtn{
      background-color: orange;
      color: white;
      font-family: Arial, Helvetica, sans-serif; 
      font-size: 85%;
      text-align: center;
      border: white 1px solid;
      border-radius: 5px;
      cursor: pointer;
      padding-top: 1px;
      width: 57.5px;
      height: fit-content;
    }

    #altLogInBtn:hover{
      background-color:rgb(253, 194, 83);
    }

  
  #messageCloseButton:hover{
      background-color:rgb(60, 60, 60);
    }
    
  #messageContents{
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 5%;
  text-align: center;
  }

/*=========================LOGIN PROMPT BOX===============================*/
#loginModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#loginFormContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#loginFormSecondaryContainer{
background-color: rgba(145, 88, 41, 0.75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#loginFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: orange;
}

#loginBtnsGrid{
display: grid;
grid-template-columns: 30% 30%;
grid-gap: 0% 5%;
width: 200px;
margin-left: 66%;
}

#loginSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
  }
  
 #loginCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
  }

#loginSubmitBtn:hover, #loginCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#loginInputContents{
margin-left: 27.5%;
margin-top: 5%;
}

/*=================SPECIFY CSS AT 1270 PX=============================*/
@media only screen and (max-width: 1270px) {
#headerGrid{
    display: grid;
    grid-template-columns: 15vw 45vw 35vw;
    width: 100vw;
}

  #buttonsGrid {
    display:none;
  }

  #searchBar{
    /* margin-left: 30%; */
    display: grid;
    grid-template-columns: 15% 30% 15% 15%;
    /* width: 600px;
    height: 30px; */
    width: 500px;
    /* width: 75vw; */
    /* height: 40px; */
    height: 6vh;
}
  .dropbtn {
    color: white;
    /* font-size: 250%; */
    font-size: 5vh;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    border: solid white 1px;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(60, 60, 60);
    color: white;
  }
  
  .dropdown {
    /* position: relative; */
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .navOpt{
  padding: 4%;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
  cursor: pointer;
  }
  
  .navOpt:hover{
  background-color: rgb(60, 60, 60);
  }
  
  
  .show {display: block;}
}

/*=================SPECIFY CSS AT 800 PX=============================*/

@media only screen and (max-width: 800px) {
  #bodyID {
    background-image: url('../cookieDough.jpg');
    background-size: 200vw 200vh;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
  }

  #navbar{
    margin: 0;
    height: 8vh;
    width: 200vw;
    background-color: rgb(255, 255, 255, .8);
    padding-top: 2vh;
  }
  /* .dropdown-content {
        position: absolute;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -16.5vw;
    } */
}

/*=================SPECIFY CSS AT 500 PX=============================*/

@media only screen and (max-width: 500px) {
  .dropdown-content {
        position: absolute;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 0;
    }
}

    </style>

</head>

<body id="bodyID">

<!--=======================NAVBAR==================================================-->
<div id="navbar">
    <div id="headerGrid">
        <div id="homeTitle">Home</div>
        <form id="searchBar" action="/publicSearch" method="POST">
            <label id="searchLabel" for ="search">Search: </label>
            <input id="search" type = "text" name="searchInput" placeholder ="Enter recipe/chef name">
            <button id="searchButton" name="searchButton">Search</button>
            <div class="dropdown">
                <div onclick="dropDownNav()" class="dropbtn">&equiv;</div>
                <div id="myDropdown" class="dropdown-content">
                    <div id="aboutBtnDD" class="navOpt" onclick="aboutPromptBox()">About</div>
                    <div id="signUpBtnDD" class="navOpt" onclick="signupPromptBox()">Sign Up</div>
                    <div id="loginBtnDD" class="navOpt" onclick="loginPromptBox()">Log In</div>
                </div><!--end of id="myDropdown"-->
            </div><!--end of class="dropdown"-->
        </form><!--end of id="searchBar"-->
        <div id="buttonsGrid">
          <div id="aboutBtn" class="homeButtons" onclick="aboutPromptBox()">About</div>
          <div id="signUpBtn" class="homeButtons" onclick="signupPromptBox()">Sign Up</div>
          <div id="loginBtn" class="homeButtons" onclick="loginPromptBox()">Log In</div>
        </div><!--end of id="buttonsGrid"-->
    </div><!--end of id="headerGrid"-->
</div><!--end of id="navbar"-->
<!--========================CENTRAL PAGE TITLE======================================-->
<div id="centralPageTitle">
    Cookie Dough
</div>

<!-- ============================PUBLIC RECIPE PROMPT BOX================================= -->

<div id="publicRecipesModal" style='display:<%=display%>;'>
    <div id="publicRecipesListContainer">
        <div id="publicRecipesListSecondaryContainer">
            <div id="publicRecipesListTitle">Public Recipes</div>
            <div id="publicRecipesList">
              <div id="numLoggedPublicRecipesMsg">
                <span style='color:orange; font-weight:bold;'>0</span> recipes located. 
              </div>
              <div id="publicRecipesInputContents">
                <!-- <form class='recipeOpt' action='includes/loadPublicRecipe.inc.php' method='POST'><input style='display:none;' id='recipeInputName' name ='publicRecipeInput' value='" . $value["publicRecipeID"] . "'><button name='loadRecipe' class='recipeOptBtn'>". $value["publicRecipesUserName"] . ": ". $value["publicRecipesTitle"] . "</button></form>"; -->
              </div><!--end of id="publicRecipesInputContents", empty array of recipes -->
              <br>
              <form action="/closeMsg" method="POST">
                <button id="publicRecipesCloseButton">Close</button>
              </form>
            </div><!--end of id="publicRecipesList"-->
        </div><!--end of id="publicRecipesListSecondaryContainer-->
    </div><!--end of id="publicRecipesListContainer"-->
</div><!--end of id="publicRecipesModal"-->

<!--=======================ABOUT===============================================-->
<div id="aboutModal">
    <div id="aboutContainer">
        <div id="aboutSecondaryContainer">
            <div id="aboutTitle">About</div>
            <div id="aboutContents">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: orange; font-weight: bold; font-style: italic;">Cookie Dough</span> provides its users with the ability to search recipes as well as save recipes of their own. This service is currently free to the public.<br><br> Enjoy!<br><br><span style="font-style: italic">-Admin (Allyse D. Johnson)</span>
            </div>
            <div id="aboutCloseButton" onclick="closeabout()">Close</div>
        </div><!--end of id="aboutSecondaryContainer-->
    </div><!--end of id="aboutContainer"-->
</div><!--end of id="aboutModal"-->

<!--========================SIGN UP PROMPT BOX===========================================-->        

<div id="signupModal">
  <div id="signupFormContainer">
      <div id="signupFormSecondaryContainer">
          <div id="signupFormTitle">Sign Up</div>
          <form id="signupForm" action ="/sign_up" method="POST">
              <div id="signupInputContents">
                <input class="userInput inputSpace" type="text" id="newUsername" name="newUsername" placeholder ="Username..."><br>
                <input class="userInput inputSpace" type="email" id="newUserEmail" name="newUserEmail" placeholder ="Email..."><br>
                <input class="userInput inputSpace" type="password" id="newPassword" name="newPassword" placeholder="Password..."><br>
                <input class="userInput inputSpace" type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm New Password...">
              </div><!--end of id="signupInputContents" -->
              <br>
              <div id="signupBtnsGrid">
                  <button id="signupSubmitBtn" name = "submitSignUp">Submit</button><div id="signupCloseButton" onclick="closesignup()">Close</div>
              </div><!--end of id="signupBtnsGrid"-->
          </form><!--end of id="signupForm"-->
      </div><!--end of id="signupFormSecondaryContainer-->
  </div><!--end of id="signupFormContainer"-->
</div><!--end of id="signupModal"-->


<!--========================LOGIN PROMPT BOX===========================================-->

<div id="loginModal">
  <div id="loginFormContainer">
      <div id="loginFormSecondaryContainer">
          <div id="loginFormTitle">Login</div>
          <form id="loginForm" action="/login" method="POST">
              <div id="loginInputContents">
                  <input class="userInput inputSpace" type="text" id="username" name="username" placeholder ="Email or Username..."><br>
                  <input class="userInput inputSpace" type="password" id="password" name="password" placeholder="Password...">
              </div><!--end of id="loginInputContents" -->
              <br>
              <div id="loginBtnsGrid">
                  <button id="loginSubmitBtn" name="loginSubmit">Submit</button><div id="loginCloseButton" onclick="closelogin()">Close</div>
              </div><!--end of id="loginBtnsGrid"-->
          </form><!--end of id="loginForm"-->
      </div><!--end of id="loginFormSecondaryContainer-->
  </div><!--end of id="loginFormContainer"-->
</div><!--end of id="loginModal"-->

<!--=======================MESSAGE PROMPT BOX===============================================-->
        
<div id="messageModal" style='display:<%=display2%>;'>
  <div id="messageContainer">
    <div id="messageSecondaryContainer">
      <div id="messageTitle">
        <%=messageTitle%>
      </div><!--end of id="messageTitle"-->
      <div id="messageContents">
        <%=messageContents%><button id="altLogInBtn" style="display:<%=loginAlt%>;" onclick="loginAlt()">Log In</button>.
      </div><!--end of id="messageContents"-->
      <button id='messageCloseButton' onclick="<%=homeMsgFunc%>">Ok</button>
    </div><!--end of id="messageSecondaryContainer-->
  </div><!--end of id="messageContainer"-->
</div><!--end of id="messageModal"-->
        

<!--========================ALL JAVASCRIPT FUNCTIONS BELOW===========================================-->
<script>      
//==========================ABOUT PROMPT BOX====================================//
//display about prompt box-------------------------------------------------------------
function aboutPromptBox(){
document.getElementById("aboutModal").style.display ="block";
}//end of aboutPromptBox()

//close about prompt box-------------------------------------------------------------
function closeabout(){
document.getElementById("aboutModal").style.display ="none";
}//end of closeabout()
//==========================SIGN UP PROMPT BOX===================================//
//display signup prompt box-------------------------------------------------------------
function signupPromptBox(){
document.getElementById("signupModal").style.display ="block";
document.getElementById("newUsername").value ="";
document.getElementById("newPassword").value ="";
}//end of signupPromptBox()

//close signup prompt box-------------------------------------------------------------
function closesignup(){
document.getElementById("signupModal").style.display ="none";
}//end of closesignup()

//===========================LOGIN PROMPT BOX====================================//
//display login prompt box-------------------------------------------------------------
function loginPromptBox(){
document.getElementById("loginModal").style.display ="block";
document.getElementById("username").value ="";
document.getElementById("password").value ="";
}//end of loginPromptBox()

//close login prompt box-------------------------------------------------------------
function closelogin(){
document.getElementById("loginModal").style.display ="none";
}//end of closelogin()

//========================MESSAGE PROMPT BOX====================================//
//close message modal, re-display sign up prompt
function backToSignUpPrompt(){
  document.getElementById("messageModal").style.display="none";
  document.getElementById("signupModal").style.display="block";
}//end of backToSignUpPrompt()

//close message modal, re-display log in prompt
function backToLoginPrompt(){
  document.getElementById("messageModal").style.display="none";
  document.getElementById("signupModal").style.display="block";
}//end of backToLoginPrompt()

//close message modal
function closeMsgPrompt(){
  document.getElementById("messageModal").style.display="none";
}
//close message modal, open login modal
function loginAlt(){
  document.getElementById("messageModal").style.display="none";
  document.getElementById("loginModal").style.display ="block";
}
//========================NAV BAR ALT DROP DOWN BTNS===============================//

function dropDownNav() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

</script>

</body>
</html>
